.user-image{

    display: block;
    margin-left: 40px;
    margin-top: 20px;
}
.profile-info{
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: initial;
    flex: 3;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.modal-header{
    display: flex;
    margin-left: 20px;
}

.avatar {

    display: inline-block;
    align-items: end;
    margin-right: 10px;
    margin-left: 20px;

}
.modal-username{
    font-size: 16px;
}
.top-container{



    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: inherit;
    flex: 1;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}
.profile-counts{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}
.flexitem{
    flex-direction: row;

    display: flex;
    justify-content: space-between;
    align-items: center;

}
.username{
    font-size: 27px;
    font-family: Roboto;
}
.parentcontainer{

}
.fullname{
    font-size: 19px;
    font-family: Roboto;

}
.fab-edit{
    margin-left: 40px;
}

.grid-layout {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
}
.image-content{
    width: 360px;
    height: 360px;
    margin: 2px;
}
.image-detail{
    height: 400px;
    float: left;
    width: 48%;
    margin-right: 2px;
}
.imageDetailModel{
    position: fixed;
    left: 20%;
    transform: translate(0%, 10%) !important;
    width: 800px;
    height: 400px;
    padding: 20px;
    background: #fffdfd;

}
.image-detail-bg{
    display: flex;
}
.Modal {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    width: 200px;
    height: 200px;
    background-color: white;
    padding: 20px;
    background: #fffdfd;

}

.update_name-input {
    width: 80%;
    margin-bottom: 20px;
}
.edit-modal{
    font-size: 20px;
    margin-bottom: 50px;

}
.update_button{
    margin-top: 30px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    width: 50%;
    display: flex;

}
.model-content-data{
    margin-left: 10px;
    float: left;
    width: 50%;
    display: flex;
    margin-top: 10px;
}
.model-content-data-hashtags{
    margin-left: 10px;
    float: left;
    width: 50%;
    display: flex;
    margin-top: 10px;
    color: lightskyblue;


}
.model-content-like{
    margin-left: 10px;
    float: left;
    width: 50%;
    display: flex;
    margin-top: 10px;
    align-items: center;
}
.align-bottom{
    position: absolute;
    bottom: 0;
    width: 45%;

    left: 48%;
    padding-bottom: 20px;
}

.add-comment-input {
    width: 75%;
    margin-left:10px;
}
.add-comment-input-parent {
    margin-left:10px;
}
.comment-username{

    font-weight: bolder;
    list-style-type: none;
    margin-bottom:5px;
}
.comment-content{
    font-weight: normal;

    font-family: "Roboto";

}
.comment-section{
    float: left;
    width: 50%;
    display: flex;
    margin-left: -10px;
}

